<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сменить пароль</title>
</head>
<body>
    <th:block th:fragment="changePassword">
        <h2 class="content-area__title">Смена пароля</h2>
        <form th:action="${#httpServletRequest.getRequestURI() == '/settings' ? '/changePassword' : '/admin/changePassword'}" id="change-pswd-form" class="st-form" method="put">
            <input type="password" class="st-input old-pswd" placeholder="Старый пароль" name="oldPassword">
            <input type="password" class="st-input new-pswd" placeholder="Новый пароль" name="newPassword">
            <input type="password" class="st-input repeat-pswd" placeholder="Повторите пароль" name="passwordRepeat">
            <button type="submit" class="st-btn">Принять</button>
        </form>
    </th:block>
</body>
</html>
