<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>


        <link rel="stylesheet" th:href="@{/css/jquery.formstyler.css}"/>
        <link rel="stylesheet" th:href="@{/css/fontello.css}"/>
        <link rel="stylesheet" th:href="@{/css/suggestions.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/common.css}"/>
        <link rel="stylesheet" th:href="@{/css/autocomplete.css}"/>
        <link rel="stylesheet" th:href="@{/css/fonts.css}"/>

        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <!--[if lt IE 10]>
        <script type="text/javascript" src="js/jquery.xdomainrequest.min.js"></script>
        <![endif]-->
        <script type="text/javascript" th:src="@{/js/jquery.suggestions.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.formstyler.js}"></script>
        <script type="text/javascript" th:src="@{/js/autocomplete.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
    </th:block>
</head>
<body>

</body>
</html>